@media all and (max-width: 320px) {
    .header-width {
        display: none;
    }
    .fas{
        color: white !important;
    }
    #mobile-nav{
        display: block;
        margin: 20px;
        width: 50px;
        z-index: 999;
    }
    /*    /////////////////////////////////   */
    .home-images::after {
        width: 50%;
    }
    #home-container > h3 {
        font-size: 200%;
    }
    #content-area {
        grid-template-rows: repeat(12,1fr);
        grid-template-columns: repeat(1,1fr);
        width: 90%;
        padding: 0 2%;
    }
    #content-area > div {
        margin: 17px;
        width: 240px;
        height: 240px;
    }
    /*    /////////////////////////////////   */
    #footer-container{
        display: block;
        text-align: center;
        width: 96%;
        padding: 0 2%;
    }
    #footer-menu > ul > li {
        list-style: none;
        display: block;
        margin-top: 20px;
    }
    #footer-social{
        text-align: center;
    }
    #copyright-text{
        width: 80%;
        padding: 0 10%;
    }
}

@media all and (min-width: 321px) and (max-width: 375px) {
    .header-width {
        display: none;
    }
    .fas{
        color: white !important;
    }
    #mobile-nav{
        display: block;
        margin: 20px;
        width: 50px;
        z-index: 999;
    }
    /*    /////////////////////////////////   */
    .home-images::after {
        width: 50%;
    }
    #home-container > h3 {
        font-size: 50px;
    }
    #content-area {
        grid-template-rows: repeat(12,1fr);
        grid-template-columns: repeat(1,1fr);
        width: 90%;
        padding: 0 5%;
    }
    #content-area > div {
        margin: 17px;
        width: 240px;
        height: 240px;
    }
    /*    /////////////////////////////////   */
    #footer-container{
        display: block;
        text-align: center;
        width: 96%;
        padding: 0 2%;
    }
    #footer-menu > ul > li {
        list-style: none;
        display: block;
        margin-top: 20px;
    }
    #footer-social{
        text-align: center;
    }
    #copyright-text{
        width: 80%;
        padding: 0 10%;
    }
}

@media all and (min-width: 376px) and (max-width: 425px) {
    .header-width {
        display: none;
    }
    .fas{
        color: white !important;
    }
    #mobile-nav{
        display: block;
        margin: 20px;
        width: 50px;
        z-index: 999;
    }
    /*    /////////////////////////////////   */
    .home-images::after {
        width: 50%;
    }
    #home-container > h3 {
        font-size: 50px;
    }
    #content-area {
        grid-template-rows: repeat(6,1fr);
        grid-template-columns: repeat(2,1fr);
        width: 90%;
        padding: 0 1%;
    }
    #content-area > div {
        margin: 17px;
        width: 150px;
        height: 150px;
    }
    /*    /////////////////////////////////   */
    #footer-container{
        display: block;
        text-align: center;
        width: 96%;
        padding: 0 2%;
    }
    #footer-social{
        text-align: center;
    }
    #copyright-text{
        width: 80%;
        padding: 0 10%;
    }
}

@media all and (min-width: 426px) and (max-width: 599px) {
    .header-width {
        display: none;
    }
    .fas{
        color: white !important;
    }
    #mobile-nav{
        display: block;
        margin: 20px;
        width: 50px;
        z-index: 999;
    }
    /*    /////////////////////////////////   */
    .home-images::after {
        width: 50%;
    }
    #home-container > h3 {
        font-size: 50px;
    }
    #content-area {
        grid-template-rows: repeat(6,1fr);
        grid-template-columns: repeat(2,1fr);
        width: 90%;
        padding: 0 5%;
    }
    #content-area > div {
        margin: 17px;
        width: 150px;
        height: 150px;
    }
    /*    /////////////////////////////////   */
    #footer-container{
        display: block;
        text-align: center;
        width: 90%;
        padding: 0 5%;
    }
    #footer-social{
        text-align: center;
    }
    #copyright-text{
        width: 80%;
        padding: 0 10%;
    }
}

@media all and (min-width: 600px) and (max-width: 768px) {
    .header-width {
        padding: 20px 100px;
    }
    /*    /////////////////////////////////   */
    .home-images::after {
        width: 50%;
    }
    #content-area {
        grid-template-rows: repeat(4,1fr);
        grid-template-columns: repeat(3,1fr);
        width: 90%;
        padding: 0 5%;
    }
    #content-area > div {
        margin: 17px;
        width: 150px;
        height: 150px;
    }
    /*    /////////////////////////////////   */
    #footer-container{
        display: block;
        text-align: center;
    }
    #footer-social{
        text-align: center;
    }
}

@media all and (min-width: 769px) and (max-width: 1024px) {
    .header-width {
        padding: 20px 100px;
    }
    /*    /////////////////////////////////   */
    .home-images::after {
        width: 50%;
    }
    #content-area {
        grid-template-rows: repeat(4,1fr);
        grid-template-columns: repeat(3,1fr);
        width: 90%;
        padding: 0 5%;
    }
    #content-area > div {
        margin: 17px;
        width: 150px;
        height: 150px;
    }
    /*    /////////////////////////////////   */
    #foot {
        height: 147px;
    }
    #footer-top {
        padding-top: 18px;
        padding-bottom: 18px;
    }
    #footer-container {
        width: 90%;
        padding: 0 5%;
    }
}

@media all and (min-width: 1025px) and (max-width: 1199px) {
    #content-area {
        grid-template-rows: repeat(4,1fr);
        grid-template-columns: repeat(3,1fr);
        width: 90%;
        padding: 0 5%;
    }
}

@media all and (min-width: 1200px) and (max-width: 1440px) {
    #content-area {
        grid-template-rows: repeat(4,1fr);
        grid-template-columns: repeat(3,1fr);
    }
}

@media all and (min-width: 2560px) {

}